<!-- Modal -->
<!-- Add new record -->
<div id="myCreateModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="ctrl.resetFlag()" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Student</h4>
      </div>
      <div class="modal-body">  
        <form name="studentForm" role="form">
            <div class="form-group">
                <label for="fname" >First Name:</label>
                <input type="text" class="form-control" ng-model="student.firstMidName" id="fname" placeholder="Enter First Name" required />
            </div>
            <div class="form-group">
                <label for="lname" >Last Name:</label>
                <input type="text" class="form-control" ng-model="student.lastName" id="lname" placeholder="Enter Last Name" required />
            </div>
            <div class="form-group">
                <label for="" >Enrollment Date:</label>
                <input type="date" class="form-control" ng-model="student.enrollmentDate" id="edate" required />
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="alert alert-success fade in ng-hide" ng-show="ctrl.showCreateAlert">Student has been added successfully !</div>
        <button type="button" class="btn btn-success" ng-disabled="studentForm.$invalid" ng-click="ctrl.createStudent(student)">Save</button>
        <button type="button" class="btn btn-default" ng-click="ctrl.resetFlag()" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
